<form [formGroup]="form">
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Civilité</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Homme</mat-option>
        <mat-option value="female">Femme</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Catégorie</mat-label>
      <input matInput formControlName="category">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstname">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col-auto">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6" *ngIf="!isAdd">
      <mat-label>Confirmation</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="solo-form-field">
      <mat-label>URL de la photo</mat-label>
      <input matInput formControlName="photo">
    </mat-form-field>
  </div>
  <div class="row pb-3">
    <mat-slide-toggle value="false" formControlName="isAdmin" [hidden]="!getIsAdmin()">Est administrateur</mat-slide-toggle>
  </div>
  <button mat-flat-button (click)="submit()" color="primary" [disabled]="form.invalid">Valider</button>
</form>
