<mat-card class="d-flex example-card justify-content-between p-0" *ngIf="postCard">
  <div class="col-5">
    <img [src]="postCard.photo" alt="User picture" class="card-image">
  </div>
  <div class="col-6">
<!--    <app-user-badge [category]="user.category"></app-user-badge>-->
    <mat-card-header>
      <mat-card-title>{{ postCard.title }}</mat-card-title>
      <mat-card-subtitle>{{ postCard.date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image [src]="postCard.photo" alt="">
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin">
      <a mat-flat-button color="primary" [routerLink]="'/user/'+postCard.id+'/edit'">EDITER</a>
      <a mat-flat-button color="primary" class="ms-3" (click)="deleteUser()">SUPPRIMER</a>
    </mat-card-actions>
  </div>
</mat-card>
