<section class="text-center">
  <h1 class="border-bottom pb-3">Connexion</h1>
  <form class="text-center mt-3" [formGroup]="form">
    <div class="d-flex flex-column mb-3">
      <p class="row justify-content-center mb-5">Pour vous connecter à l'intranet, entrez votre identifiant et mot de passe.</p>
      <div class="row g-3 mb-3 align-items-center justify-content-center">
        <div class="col-md-2 text-end">
          <label for="email" class="col-form-label">Email :</label>
        </div>
        <div class="col-3">
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="ex: bob@mail.com">
        </div>
      </div>

      <div class="row g-3 mb-3 align-items-center justify-content-center">
        <div class="col-md-2 text-end">
          <label for="password" class="col-form-label">Password :</label>
        </div>
        <div class="col-3">
          <input type="password" id="password" class="form-control" formControlName="password">
        </div>
      </div>
    </div>
  </form>
  <div class="mat-error mt-2 mb-3" *ngIf="displayErrorMessage">
    <p>Les informations renseignées ne sont pas reconnues</p>
  </div>
  <button [disabled]="form.invalid" (click)="login()" mat-flat-button color="primary" class="text-center col-2">
    <p class="row align-content-center justify-content-center m-0">
      <mat-spinner color="accent" diameter="40" *ngIf="isLoading"></mat-spinner>
      <span *ngIf="!isLoading">Submit</span>
    </p>

  </button>
</section>
