.example-spacer {
  flex: 1 1 auto;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
}

.align-vertical {
  display: flex;
  align-items: center;
}

.mat-mdc-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
