<mat-toolbar color="primary" class="header">
  <a mat-button aria-label="List button" routerLink="/home" class="nav-link">
    <h1 class="align-vertical">
      <mat-icon>home</mat-icon>
      Intranet
    </h1>
  </a>
  <span class="example-spacer"></span>
  <div *ngIf="isLoggedIn(); else login">
    <a mat-button aria-label="List button" routerLink="/home" class="nav-link">
      <mat-icon>list</mat-icon>
      Favoris
    </a>
    <a mat-button aria-label="List button" routerLink="/user/create" class="nav-link" *ngIf="connectedUser!.isAdmin">
      <mat-icon>person</mat-icon>
      Ajouter
    </a>
    <a mat-button [routerLink]="'/user/'+connectedUser!.id+'/edit'" class="nav-link">
      <img [src]="connectedUser!.photo" alt="User picture" class="mat-mdc-card-avatar">
    </a>
    <a mat-button aria-label="Logout button" (click)="logout()" class="nav-link">
      <mat-icon>logout</mat-icon>
      Déconnexion
    </a>
  </div>
  <ng-template #login>
    <a mat-button aria-label="Login button" routerLink="/login" class="nav-link">
      <mat-icon>login</mat-icon>
      Connexion
    </a>
  </ng-template>
</mat-toolbar>
