<div class="d-flex justify-content-center">
  <mat-card class="d-flex example-card justify-content-between p-0"
            *ngIf="postCard">
    <mat-card-header>
      <img mat-card-avatar [src]="postCard.author_photo" alt="User picture">
      <mat-card-title>{{ postCard.title }}</mat-card-title>
      <mat-card-subtitle>{{ getFormattedDate(postCard.date) }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="action" [routerLink]="'/post/'+postCard.id">
      <img mat-card-image [src]="postCard.photo" alt="" class="card-image">
    </mat-card-content>
    <mat-card-actions class="justify-content-evenly">
      <a class="btn" [routerLink]="'/post/'+postCard.id+'/edit'" *ngIf="isAdmin || isUserPost">
        <mat-icon color="accent">edit</mat-icon>
      </a>
      <a class="btn" (click)="deleteCard()" *ngIf="isAdmin || isUserPost">
        <mat-icon color="accent">delete</mat-icon>
      </a>
      <span>
        <a class="btn" (click)="likeCard()">
          <mat-icon color="accent" [ngClass]="hasBeenLiked ? 'liked' : ''">thumb_up</mat-icon>
        </a>
        {{ postCard.likeCount }}
      </span>
      <a class="btn d-inline-block text-end" (click)="addToFavoredPosts()">
        <mat-icon color="accent" [ngClass]="isFavoredPost ? 'liked' : ''">favorite</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
