@use '@angular/material' as mat;

.example-card {
  max-width: 20rem;
  border-radius: 0.8rem;
}

p {
  font-size: 1.2rem;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.liked {
  color: #A52A40FF;
}
